<section data-ng-controller="LeaguesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Leagues</h1>
	</div>
	<div class="list-group" data-ng-repeat="league in leagues">
		<div class="list-group-item">
			<h4 class="list-group-item-heading">
				<a data-ng-href="#!/leagues/{{league._id}}">{{league.name}}</a>
				<span class="badge">{{league.teams.length}}</span>
				<span class="pull-right" data-ng-show="isMemberOf(league)"><small><em class="text-info">Already a member</em></small></span>
				<a role="button" class="btn btn-primary pull-right" data-ng-hide="isMemberOf(league)" data-ng-href="#!/leagues/{{league._id}}/join">Join</a>
			</h4>
			<small class="list-group-item-text">
				Created by <span><a data-ng-href="#!/users/{{league.user._id}}">{{league.user.displayName}}</a></span>
			</small>
		</div>
	</div>
	<div class="alert alert-warning text-center" data-ng-hide="!leagues.$resolved || leagues.length">
		No Leagues yet, why don't you <a href="/#!/leagues/create">create one</a>?
	</div>
</section>
